/* *{
  border: 1px solid red;
}

/* seletor de texto */
/* h1{
  color: green;
} */ 

/* seletores de classe 
.verde{
  color: green;
}

p.verde{
  color: green;
}
 */
/* 
 /* Seletor de ID 
 #cabecalho{
  border: 1px solid blue;
 }

 /* Seletor de filho 
 li>a{
  color: red;
 text-decoration: none; 
  }  */
/* 
div a{
  color: green
}
 */

 /* Seletor de irmão djacente 
 h1+p{
  color: red;
 }*/
/* Seletor de irmão geral */
 h1~p{
  color: pink;
 }